/customnpcs/clones
/data
/debug
/defaultconfigs
/Distant_Horizons_server_data
/downloads
/fancymenu_data
/immersive_paintings_cache
/kubejs/assets/kubejs/textures/item/example_item.png
/kubejs/assets/kubejs/textures/block/example_block.png
/kubejs/client_scripts/example.js
/kubejs/data
/kubejs/config
/kubejs/server_scripts/example.js
/kubejs/startup_scripts/example.js
/logs
/saves/*
!/saves/Tutorial
/schematics
/screenshots
/xaero
/XaeroWaypoints_BACKUP032021
*.log
*.sqlite
/server.txt
/usercache.json
/usernamecache.json
/.vscode
/.replay_cache
/backups
/mods/.connector
/blueprints/
/crash-reports
